@model Pizza

@{
    ViewData["Title"] = "Detalhes da pizza";
}

<div class="row">
    <div class="col-md-8">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Nome
                                <a class="text-white float-right" asp-action="Atualizar" asp-route-id="@Model.Id"><i class="fa-regular fa-pen-to-square"></i></a>
                                <a class="btn btn-outline-danger float-right" asp-action="Atualizar" asp-route-id="@Model.Id">
                                    Atualizar
                                </a>
                                <a class="btn btn-outline-danger float-right" asp-action="Deletar" asp-route-id="@Model.Id">
                                    Excluir
                                </a>
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.FotoUrl" width="100%" alt="@Model.Nome">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">@Model.Nome</p>
                        <p class="card-text"><b>Lançada: </b>@Model.DataCadastro.ToString("dd MMM yy")</p>
                        <p class="card-text"><b>Até: </b>@Model.DataAlteracao.ToString("dd MMM yy")</p>
                        <p>
                            <b>Situação: </b>                           
                        </p>
                        <p class="card-text">
                            <b>Sabores: </b>
                            <hr />
                            <div class="row">
                                @foreach (var pizza_sabor in Model.PizzaSabores)
                                {
                                    <div class="column text-center">
                                        <img src="@pizza_sabor.Sabor.Nome" style="max-width: 100%" />
                                        <br />
                                        <a asp-controller="Pizzas" asp-action="Detalhes" asp-route-id="@pizza_sabor.Sabor.Id">@pizza_sabor.Sabor.Nome</a>
                                    </div>
                                }
                            </div>
                        </p>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            <a class="btn btn-outline-primary float-right" asp-action="Index">
                                Listar Pizzas
                            </a>
                            <a class="btn btn-success text-white  @((DateTime.Now > Model.DataAlteracao) ? "disabled" : "")" 
                               asp-controller="Pedidos" 
                               asp-action="AdicionarCarrinho" asp-route-id="@Model.Id">
                               <i class="fa-solid fa-cart-arrow-down"></i> Adicionar (@Model.Preco.ToString("c"))
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>